click
sk-video
# gym==0.13 # default to this stable point if caught in gym/gymnasium issues
gymnasium==0.29.1
termcolor
flatten_dict
h5py
numpy==2.2.6
mujoco==3.3.3
dm-control==1.0.31
Pillow
pink-noise-rl
packaging
gitpython

# MyoAssist
stable-baselines3
stable-baselines3[extra]
# imageio
mediapy
# for mac issue
tensorboard

# MyoAssist-Reflex
cma==4.0.0
tqdm
opencv-python==4.11.0.86
imageio[ffmpeg]==2.37.0
scikit-video==1.1.11
h5py==3.12.1
openpyxl==3.1.5
absl-py==2.1.0
setuptools
tk